<!DOCTYPE html>
<html>
    <script>
        var groupId = g.id
    </script>
    <head>
        <style>
            img {width: 25px;}
        </style>
        
        <title>
            {{title}}
        </title>
    </head> 
    <body>
            <div class = "row">
            <div class="col">
            <h3>
                {{g.name}}
            </h3>
                <h4>
                {{g.description}}
                </h4>
            <h5>Recipes:</h5>
                    {{#each g.recipes}}
                        <form method="POST" action="/groups/deleteRec/{{../g.id}}">
                            {{title}}
                            <input type="hidden" id="recipeId" name="recipeId" value= "{{this.id}}">
                            <button><img src="https://www.pngplay.com/wp-content/uploads/7/Delete-Icon-Background-PNG-Image.png"></button>
                            <br>
                        </form>
                    {{/each}}
            </div>
        <div class="col">
            <button onclick="document.location='/groups/edit/{{g.id}}'"><img src="https://cdn-icons-png.flaticon.com/512/61/61456.png"></button>
        </div>
        </div>
    </body>
</html>

